{% extends "layout.html" %}

{% block title %}
    SELL
{% endblock %}

{% block main %}
        <form action="/sell" method="post">
        <div class="mb-3">
        <select class="form-select mx-auto w-auto" name="symbol">
                <option disabled="" selected="" value="">Symbol</option>
                        {% for avail in available %}
                    <option value="{{avail['symbol']}}">{{avail["symbol"]}}</option>
                        {%endfor%}}
            </select>
        </div>
        <div class="mb-3">
            <label for="shares">Shares</label>
            <input class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="1" type="number">
        </div>
        <button class="btn btn-primary" type="submit">SELL</button>
    </form>

{% endblock %}
